accelerate 
aiohttp
aiosignal
appdirs==1.4.4
async-timeout
attrs
Bottleneck
brotlipy==0.7.0
certifi
cffi
charset-normalizer
click
contourpy
cryptography
cycler
datasets
dill
filelock
fonttools==4.25.0
frozenlist
fsspec
gmpy2
huggingface-hub
idna
Jinja2
joblib
kiwisolver
lightning-utilities
MarkupSafe
matplotlib
mpmath==1.2.1
multidict
multiprocess
munkres==1.1.4
networkx
numexpr
numpy
packaging
pandas==1.5.3
Pillow==9.4.0
pooch
protobuf==3.20.3
psutil
pyarrow==11.0.0
pycparser
pyOpenSSL
pyparsing
PySocks
python-dateutil
pytorch-lightning==2.0.4
pytz
PyYAML
regex
requests
responses
sacremoses
scikit-learn
scipy==1.10.1
six
sympy
tensorboardX
threadpoolctl
tokenizers
torch
torch-lr-finder
torchmetrics
tqdm
transformers
typing_extensions
urllib3
xxhash
yarl
nltk
benepar
stanza
gensim==4.3.0
dadaptation==3.1
lxml==4.9.2
tensorboard==2.12.1
pytextrank